*{
    margin: 0;
}
.head{
    display: flex;
    position: relative;
    margin: 0;
    width:100%;
    height:110px;
    background-color: #FFE799
    
}
.BW{
    
    padding-left: 425px;
    padding-top: 35px;
    text-align: center;
}
.logo{
    height: 90px;
    width: 200px;
    padding-left: 50px;
    padding-top: 8px;
}
.gradient{
    height:35px;
    weight:100%;
    background: linear-gradient(rgb(184, 184, 184), white);
}
.description{
    padding-left: 90px;
    font-size: 23px;
    width: 60%;
    height: 500px;
}
.desc_image{
    width: 40%;
    height: 500px;
}
.one_part{
    margin-top: 50px;
    display: flex;
}
.image1{
    padding-left: 150px;
    width:450px;
    height: 300px;
}
.image2{
    padding-left: 150px;
    width:450px;
    height: 300px;
}
.tour{
    text-align: center;
}
.ifki{
    padding-left: 90px;
    font-size: 23px;  
}
.program{
    font-size: 23px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    align-items: center;
}
.Ppro{
    font-size: 25px;
}
.dayF{
    
    position: relative;
    margin-left: 90px;
    margin-top: 50px;
    width:700px;
    height:720px ;
    border-radius: 10px;
    border: 3px solid #000000;
    border-color: black;
    text-align: center;
}
.image_program{
    margin-top: 218px;
    gap: 35px;
    width: 550px;
    height:1350px ;
    display: flex;
    position: relative;
    justify-content:center ;
    flex-direction: column;
    margin-left: 180px;
}
.image{
    width: 800px;
    height: 550px;
}
.section_pro{
    display: flex;
    
}
.dF{
    font-size: 28px;
}
.desc_dF{
    font-size: 23px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.dayT{
    
    margin-left: 90px;
    margin-top: 50px;
    width:700px;
    height:460px ;
    border-radius: 10px;
    border: 3px solid #000000;
    border-color: black;
    text-align: center;
}
.dT{
    font-size: 28px;
}
.desc_dT{
    font-size: 23px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.dayTR{
    
    margin-left: 90px;
    margin-top: 50px;
    width:700px;
    height:270px ;
    border-radius: 10px;
    border: 3px solid #000000;
    border-color: black;
    text-align: center;
}
.dTR{
    font-size: 28px;
}
.desc_dTR{
    font-size: 23px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.foot{
    display: flex;
    margin-top: 50px;
    width:100% ;
    height:250px;
    background-color: #FFE799;
    border: #000000 solid 2px;
    border-radius: 15px;
}
.desc_AdoYA{
    font-size: 21px;
}
.firstDiv{
    width: 65%;
    margin-left: 20px;
    margin-top: 20px;
}
.off{
    margin-top: 22px;
    font-size: 23px;
    
}
.offH{
    
    color: #000000;
}
.gmail{
    padding-left: 270px;
    padding-top: 50px;
    text-align: right;
    font-size: 21px;
}

.soc{
    gap: 10px;
    margin-top: 15px;
    margin-left: 400px;
}
.socIMG{
    width: 50px;
    height: 50px;
}
.socIMGW{
    width: 55px;
    height: 55px;
}
.himg{
    text-decoration: none;
}

/* ...existing code... */

/* Адаптация для ноутбуков и планшетов */
@media (max-width: 1200px) {
    .BW {
        padding-left: 100px;
        font-size: 28px;
    }
    .logo {
        width: 150px;
        height: 70px;
        padding-left: 20px;
    }
    .description, .desc_image {
        padding-left: 20px;
        width: 100%;
        height: auto;
        font-size: 18px;
    }
    .image1, .image2 {
        width: 300px;
        height: 200px;
        padding-left: 20px;
    }
    .image_program {
        width: 100%;
        margin-left: 0;
        gap: 15px;
    }
    .image {
        width: 100%;
        height: auto;
    }
    .foot {
        flex-direction: column;
        height: auto;
    }
    .gmail {
        padding-left: 0;
        text-align: left;
    }
    .soc {
        margin-left: 0;
    }
}

/* Адаптация для телефонов */
@media (max-width: 768px) {
    .head {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .BW {
        padding-left: 0;
        padding-top: 10px;
        font-size: 20px;
        text-align: center;
    }
    .logo {
        width: 120px;
        height: 50px;
        padding-left: 0;
        padding-top: 0;
    }
    .one_part {
        flex-direction: column;
        margin-top: 20px;
    }
    .description, .desc_image {
        width: 100%;
        height: auto;
        padding-left: 0;
        font-size: 16px;
    }
    .image1, .image2 {
        width: 100%;
        height: auto;
        padding-left: 0;
    }
    .dayF, .dayT, .dayTR {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
        height: auto;
        font-size: 16px;
        box-sizing: border-box;
    }
    .desc_dF, .desc_dT, .desc_dTR {
        font-size: 15px;
        padding: 10px;
    }
    .image_program {
        width: 100%;
        margin-left: 0;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .image {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 10px 0;
    }
    .btn-container {
        width: 100%;
        gap: 10px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .btn {
        width: 100%;
        font-size: 15px;
        padding: 10px 0;
        margin: 0 0 10px 0;
    }
    .foot {
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-top: 20px;
    }
    .firstDiv, .twoDiv {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
    .gmail {
        padding-left: 0;
        padding-top: 10px;
        text-align: left;
        font-size: 16px;
    }
    .soc {
        margin-left: 0;
        margin-top: 10px;
        gap: 5px;
        display: flex;
        flex-wrap: wrap;
    }
    .socIMG, .socIMGW {
        width: 35px;
        height: 35px;
    }
}
/*
.btn-container {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}
*/
.btn {
    width: 335px;
    height: 60PX;
    background: #FFE799;
    border: 2px solid #000;
    border-radius: 16px;
    padding: 20px ;
    font-size: 18px;
    color: #000;
    cursor: pointer;
    transition: box-shadow 0.2s;
    box-shadow: none;
    
}

.btn-container{
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 35px;
    margin-top: 30px;
    margin-left: 90px; /* Сдвиг вправо */
}
.btn:first-child {
    margin-left: 0;
}
.btn:last-child {
    margin-right: 0;
}

/* Приподнять блок программы */
.section_pro {
    margin-bottom: 80px;
    width: 700px;
   
}