*{
    margin: 0;
}
.head{
    display: flex;
    position: relative;
    margin: 0;
    width:100%;
    height:110px;
    background-color: #FFE799
    
}
.BW{
    
    padding-left: 425px;
    padding-top: 35px;
    text-align: center;
}
.logo{
    height: 90px;
    width: 200px;
    padding-left: 50px;
    padding-top: 8px;
}
.gradient{
    height:35px;
    weight:100%;
    background: linear-gradient(rgb(184, 184, 184), white);
}
.description{
    padding-left: 90px;
    font-size: 23px;
    width: 60%;
    height: 500px;
}
.desc_image{
    width: 40%;
    height: 500px;
}
.one_part{
    margin-top: 50px;
    display: flex;
}
.image1{
    padding-left: 150px;
    width:450px;
    height: 300px;
}
.image2{
    padding-left: 150px;
    width:450px;
    height: 300px;
}
.tour{
    text-align: center;
}
.ifki{
    padding-left: 90px;
    font-size: 23px;  
}
.program{
    font-size: 23px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    align-items: center;
}
.Ppro{
    font-size: 25px;
}
.dayF{
    
    position: relative;
    margin-left: 90px;
    margin-top: 50px;
    width:700px;
    height:720px ;
    border-radius: 10px;
    border: 3px solid #000000;
    border-color: black;
    text-align: center;
}
.image_program{
    margin-top: 218px;
    gap: 35px;
    width: 550px;
    height:1350px ;
    display: flex;
    position: relative;
    justify-content:center ;
    flex-direction: column;
    margin-left: 180px;
}
.image{
    width: 800px;
    height: 550px;
}
.section_pro{
    display: flex;
    
}
.dF{
    font-size: 28px;
}
.desc_dF{
    font-size: 23px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.dayT{
    
    margin-left: 90px;
    margin-top: 50px;
    width:700px;
    height:460px ;
    border-radius: 10px;
    border: 3px solid #000000;
    border-color: black;
    text-align: center;
}
.dT{
    font-size: 28px;
}
.desc_dT{
    font-size: 23px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.dayTR{
    
    margin-left: 90px;
    margin-top: 50px;
    width:700px;
    height:270px ;
    border-radius: 10px;
    border: 3px solid #000000;
    border-color: black;
    text-align: center;
}
.dTR{
    font-size: 28px;
}
.desc_dTR{
    font-size: 23px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.foot{
    display: flex;
    margin-top: 50px;
    width:100% ;
    height:250px;
    background-color: #FFE799;
    border: #000000 solid 2px;
    border-radius: 15px;
}
.desc_AdoYA{
    font-size: 21px;
}
.firstDiv{
    width: 65%;
    margin-left: 20px;
    margin-top: 20px;
}
.off{
    margin-top: 22px;
    font-size: 23px;
    
}
.offH{
    
    color: #000000;
}
.gmail{
    padding-left: 270px;
    padding-top: 50px;
    text-align: right;
    font-size: 21px;
}

.soc{
    gap: 10px;
    margin-top: 15px;
    margin-left: 400px;
}
.socIMG{
    width: 50px;
    height: 50px;
}
.socIMGW{
    width: 55px;
    height: 55px;
}
.himg{
    text-decoration: none;
}
