*{
    margin: 0;
}
.head{
    display: flex;
    position: relative;
    width:100%;
    height:110px;
    background-color: #FFE799;
    align-items:center;
}
.BW{
    padding-left: 425px;
    padding-top: 35px;
    text-align: center;
}
.logo{
    height: 90px;
    width: 200px;
    padding-left: 50px;
    padding-top: 8px;
}
.gradient{
    height:35px;
    background: linear-gradient(rgb(184, 184, 184), white);
}
.description{
    padding-left: 90px;
    font-size: 23px;
    width: 60%;
    height: 500px;
}
.desc_image{
    width: 40%;
    height: 500px;
}
.one_part{
    margin-top: 50px;
    display: flex;
}
.image1, .image2{
    padding-left: 150px;
    width:450px;
    height: 300px;
}
.tour{
    text-align: center;
}
.ifki{
    padding-left: 90px;
    font-size: 23px;
}
.program{
    font-size: 23px;
    margin-top: 50px;
    text-align: center;
}
.section_pro{
    display: flex;
}
.image_program{
    margin-top: 218px;
    gap: 35px;
    width: 550px;
    height:1350px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
}
.image{
    width: 800px;
    height: 550px;
}
.btn-container{
    display:flex;
    gap:15px;
    justify-content:center;
}
.btn{
    margin-top:50px;
    height:70px;
    width:300px;
    background:#FFE799;
    border:none;
    border-radius:15px;
    font-size:25px;
}

/* --- Ноутбуки */
@media (max-width:1280px) and (min-width:769px){
    .one_part, .section_pro{
        flex-direction:column;
        align-items:center;
        text-align:center;
    }
    .description{
        width:80%;
        padding-left:0;
        height:auto;
    }
    .image_program{
        margin:0;
        width:80%;
        height:auto;
    }
    .image{
        width:100%;
        height:auto;
    }
    .dayF,.dayT,.dayTR{
        width:80%;
        margin:20px auto;
        height:auto;
    }
}

/* --- Телефоны */
@media (max-width:768px){

    body{
        overflow-x:hidden;
        text-align:center;
    }

    .head{
        flex-direction:column;
        height:auto;
        align-items:center;
    }

    .logo{
        width:140px;
        height:auto;
        padding:10px 0;
    }

    .BW{
        padding:0;
        font-size:20px;
    }

    .one_part{
        flex-direction:column;
        align-items:center;
    }

    .description{
        width:90%;
        height:auto;
        padding:0;
        font-size:18px;
    }

    .desc_image{
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
    }

    .image1, .image2, .image{
        width:90%;
        height:auto;
        padding-left:0;
    }

    .section_pro{
        flex-direction:column;
        align-items:center;
    }

    .dayF, .dayT, .dayTR{
        width:90%;
        margin:15px 0;
        height:auto;
    }

    .btn-container{
        width:100%;
        flex-direction:column;
        gap:10px;
    }

    .btn{
        width:80%;
        height:55px;
        font-size:18px;
    }

    .ifki{
        padding-left:0;
        text-align:center;
        font-size:18px;
    }
}
